<% include header.ejs %>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="lead" style="text-align: center; color: rgb(217, 26, 35);">
            You are already logged-in on another browser.</h1>
        </div>
    </div>
    </div>
</body>
</html>