<% include header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center">Register Yourself</h1>
            <p class="lead" style="text-align: center; color: rgb(217, 26, 35);"> <%=locals.message%></p>
        </div>
    </div>
    <div class="card" style="width: 60%; margin: 0 auto; margin-top: 20px;">
        <div class="card-header">Register</div>
        <div class="card-block">
            <form method="POST" action="/register" autocomplete="off" id="regForm">
                <div class="form-group"><label class="form-control-label" for="username">Username:</label>
                    <input class="form-control" id="username" type="text" name="username" autocomplete="off" value=""
                        required></div>
                <span id="errorMessage"></span>
                <div class="form-group"><label class="form-control-label" for="password">Password:</label><input
                        class="form-control" id="password" type="password" name="password" autocomplete="off" required maxlength="15">
                </div>
                <div class="form-group"><label class="form-control-label" for="repeat-password">Repeat
                        Password:</label><input class="form-control" id="repeat-password" type="password"
                        name="repeat-password" autocomplete="off" required>
                </div>
                <span id="errorPassword"></span>
                <p> Already registered? <a href="/login"> Login Here </a> </p>
                <button class="m-1 btn btn-primary" type="submit" id="submit" disabled>Sign Up</button><a
                    class="m-1 btn btn-secondary" href="/register" role="button">Reset</a>
            </form>
        </div>
    </div>
</div>
<% include footer.ejs %>
<script>
/* eslint-disable require-jsdoc */
// Setup function to check username 0.5 seconds after user stops typing..
let typingTimer;
const doneTypingInterval = 500;
// Starts countdown on keyup
$('#username').keyup(function() {
  clearTimeout(typingTimer);
  if ($('#username').val()) {
    typingTimer = setTimeout(doneTyping, doneTypingInterval);
  } else if (!$('#username').val()) {
    $('#errorMessage').html(`<p class="text-danger"> 
    Username cannot be blank. </p>`);
  }
});

// Function for when user has finished typing, to check availability
function doneTyping() {
  const usernameValue = $('#username').val();
  if (usernameValue !== '') {
    $.ajax({
      url: '/check-' + usernameValue,
      type: 'POST',
      success: function(response) {
        if (response == 'taken') {
          $('#errorMessage').html(`<p class="text-danger"> 
          Username already taken. </p>`);
          $('#password, #repeat-password').attr('disabled', true);
        } else if (response == 'not-taken') {
          $('#errorMessage').html(`<p class="text-success"> 
          Username Available. </p>`);
          $('#password, #repeat-password').attr('disabled', false);
        }
      },
    });
  }
}

// Starts countdown on keyup FOR REPEAT PASSWORD
$('#repeat-password').keyup(function() {
  clearTimeout(typingTimer);
  if ($('#repeat-password').val()) {
    typingTimer = setTimeout(checkPwd, doneTypingInterval);
  }
});

// Function to check if passwords match.
function checkPwd() {
  if ($('#password').val() !== $('#repeat-password').val()) {
    $('#errorPassword').html(`<p class="text-danger"> 
    Passwords do not match. </p>`);
  } else {
    $('#errorPassword').html('');
    $('#submit').removeAttr('disabled');
  }
}
</script>
</body>

</html>